<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>webapp demo</title>
  <link rel="stylesheet" href="/assets/styles/index.css" />
</head>

<body>
  <div id="wrap">
    <!-- 轮播图 -->
    <div class="courseWrap">
      <!-- 具体内容 -->
    </div>
  </div>
</body>
<script src='/damu.js'></script>
<script>
  window.onload = function () {
    // 阻止事件的默认行为
    document.addEventListener("touchStart", function (ev) {
      ev = ev || event;
      ev.preventDefault();
    });
    // 适配方案
    (function () {
      //chrome下字体的默认大小是16
      //方案二   rem的适配     尺寸根据视口宽度来  rem的定义
      var styleNode = document.createElement("style");
      var w = document.documentElement.clientWidth / 16; //除以16的目的是不希望出现小数，初始定义视口宽度为1rem,但是这样会出现小数，所以除以16方便计算
      styleNode.innerHTML = "html{font-size: " + w + "px!important}";
      document.head.appendChild(styleNode);
    })();

    // 动态滚动
    var arr = [
      "https://iknow-pic.cdn.bcebos.com/b64543a98226cffc192273a6b9014a90f603ea9e",
      "https://image-c-dev.weimobwmc.com/qa-saas-wxbiz/b3854b2e1af0462c8e845840c200b888.jpeg?imageMogr2/thumbnail/500x",
      "https://image-c-dev.weimobwmc.com/qa-saas-wxbiz/ac5bfeedc57441c69ef27023336f7a1d.jpg?imageMogr2/thumbnail/500x",
    ];

    var init = function () {
      carouse(arr);
    };


    function carouse(arr) {
      //   布局
      var baseLength = arr.length;
      arr = arr.concat(arr); //合并数组，目的是做无缝滚动
      var courseWrap = document.querySelector(".courseWrap");
      if (courseWrap) {
        var ulNode = document.createElement("ul");
        var styleNode = document.createElement('style');
        ulNode.classList.add("list");
        for (var i = 0; i < arr.length; i++) {
          ulNode.innerHTML +=
            '<li><a href="javascript:;"><img src="' +
            arr[i] +
            '" alt=""></a></li>';
        }
        styleNode.innerHTML = '.courseWrap .list{list-style: none;width: ' + (arr.length) * 100 +
          '%;overflow: hidden;} .courseWrap .list li{width: ' + (1 / arr.length * 100) + '%;} '
        courseWrap.appendChild(ulNode);
        var imageNode = document.querySelector(".courseWrap > .list >li >a > img");
        setTimeout(function () {
          courseWrap.style.height = imageNode.offsetHeight + 'px';
        }, 100);
        document.head.appendChild(styleNode);


      }

      //   滑屏
      var starX = 0; //手指开始点击的位置
      var elementX = 0; //元素一开始的位置
      courseWrap.addEventListener('touchstart', function (ev) {
        ev = ev || event;
        var touchC = ev.changedTouches[0];
        starX = touchC.clientX;
        elementX = transePlugin.damu(ulNode, 'translateX');
        // 无缝逻辑  点击第一组的第一张时，瞬间跳到第二组的最后一张，点击第二组的最后一张，瞬间跳到第一组的第一张
        var index = transePlugin.damu(ulNode, 'translateX') / document.documentElement.clientWidth; //index代表ul的位置
        if (-index === 0) {
          index = -baseLength
        } else if (-index === (arr.length - 1)) {
          index = -(baseLength - 1)
        }
        transePlugin.damu(ulNode, 'translateX', index * (document.documentElement.clientWidth));
        ulNode.style.transition = 'none'
      })
      courseWrap.addEventListener('touchmove', function (ev) {
        ev = ev || event;
        var touchC = ev.changedTouches[0];
        var nowX = touchC.clientX;
        var disX = nowX - starX;
        transePlugin.damu(ulNode, 'translateX', elementX + disX);
      })
      courseWrap.addEventListener('touchend', function (ev) {
        ev = ev || event;
        var index = transePlugin.damu(ulNode, 'translateX') / document.documentElement.clientWidth;
        index = Math.round(index);
        if (index > 0) {
          index = 0;
        }
        if (index < 1 - arr.length) {
          index = 1 - arr.length;
        }
        ulNode.style.transition = 'transform 1s'
        transePlugin.damu(ulNode, 'translateX', index * (document.documentElement.clientWidth))
      })

      // 无缝滚动
    }


    init();
  };
</script>

</html>