<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>music tai</title>
    <link rel="stylesheet" href="/assets/styles/music.css" />
  </head>

  <body>
    <!-- 头部 -->
    <div id="wrap">
      <div class="head">
        <div class="head-top">
          <h1 class="logo">
            <a href="http://www.atguigu.com">
              <img
                src="http://pc1.gtimg.com/act/sem/202007qqmusic/images/logo-c25031e228.png"
                alt="音乐"
              />
            </a>
          </h1>
          <div class="btns">
            <a href="javascript:;">搜索</a>
            <a href="javascript:;">登录</a>
            <a href="javascript:;">注册</a>
          </div>
        </div>
        <div class="head-bottom">
          <input class="searchInp" placeholder="请输入搜索名称" type="text" />
          <a href="javascrit:;" class="search">搜索</a>
        </div>
      </div>

      <div class="content">
        <!-- 导航 -->
        <div class="nav onepx">
          <ul class="list">
            <li class="active">
              <a href="javascript:;">全部</a>
            </li>
            <li>
              <a href="javascript:;">首页</a>
            </li>
            <li>
              <a href="javascript:;">分类</a>
            </li>
            <li>
              <a href="javascript:;">母婴</a>
            </li>
            <li>
              <a href="javascript:;">女装</a>
            </li>
            <li>
              <a href="javascript:;">男装</a>
            </li>
            <li>
              <a href="javascript:;">家电</a>
            </li>
            <li>
              <a href="javascript:;">食物</a>
            </li>
            <li>
              <a href="javascript:;">美妆</a>
            </li>
            <li>
              <a href="javascript:;">宠物</a>
            </li>
            <li>
              <a href="javascript:;">房产</a>
            </li>
          </ul>
        </div>
        <!-- 导航结束 -->
        <!-- 轮播图开始 -->
        <div class="courseWrap">
          <!-- 具体内容 -->
        </div>
        <!-- 轮播图结束 -->
        <!-- tap选项卡 -->
        <div class="tapWrap">
          <div class="tapHeader">
            <h2>主播</h2>
            <span>更多&gt;</span>
          </div>
          <div class="tapNav">
            <div>
              <a href="javascript:;">全部</a>
              <a href="javascript:;">内地</a>
              <a href="javascript:;">港台</a>
              <a href="javascript:;">电台</a>
              <a href="javascript:;">其他</a>
              <span class="smallGreen"></span>
            </div>
          </div>
          <div class="tapContent">
            <ul>
              <li>
                <a href="javascript:;">
                  <img src="" alt="" />
                  <span>qqqqqq</span>
                  <div class="tapDiscuss">
                    <div class="left">
                      <span>播放</span>
                      <span>9167</span>
                    </div>
                    <div class="right">
                      <span>点播</span>
                      <span>6</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/basis.js"></script>
  <script src="/damu.js"></script>
  <script src="/music.js"></script>
</html>
