<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webapp demo</title>
    <link rel="stylesheet" href="/assets/styles/common.css">
</head>
<body>
    <div class='viewport'>
        viewport     
    </div>
</body>
<script>    
    // 设配方案
    (function(){
        //方案一   viewport的适配   将所有设备都转化成设计稿尺寸（所量即所得）  
        var targetW = 750+"px";
        var scale = document.documentElement.clientWidth/targetW;
        var meta = document.querySelector('meta[name="viewport"]');
        meta.content="initial-scale="+scale; 
    })()    
    
</script>       
</html>     