html,body,ul,li,dl,ol,h1,h2,h3,h4,h5,div,p,a,span,form,input,select{margin:0;padding:0;box-sizing: border-box;outline: none};
html,body{width: 100%;height: 100%;overflow: hidden;}
ul,li{list-style: none;}
a{ text-decoration: none;}
a,img{ display: block;}
a,input,button{-webkit-tap-highlight-color: rgba(0,0,0); -webkit-appearance: none;}

/* 
    16rem == 375px   1rem == 375/16    20px就是  20*16/375 
    所以定义baseRem为 16/375,方便后续计算，所量即所得
*/
:root {
    --hover: #2170d6;
    --bar: rgb(226, 225, 225);
    --navcolor:#232323;
    --baserem: 16/375;  
}
.onepx {
    position: relative;
}
.onepx::before {
    position: absolute;
    content:'';
    display: block;
    top:0;
    width: 100%;
    height: 1px;
    background: #eee;
}
@media sreen and (-webkit-device-pixel-radio :2){
    .onepx::before{
        transform: scaleY(0.5);
    }
}
@media sreen and (-webkit-device-pixel-radio :3){
    .onepx::before{
        transform: scaleY(0.3);
    }
}

#wrap{
    height: calc(var(--baserem)*100%);
    overflow: hidden;
    background: #eee;
}
#wrap .head{
    position: absolute;
    width: 100%;
    height:calc(var(--baserem)*100rem) ;
    background: var(--navcolor);
    top:0;
}
#wrap .head .head-top{
    height:calc(var(--baserem)*50rem);
    display: flex;
    justify-content:space-between;
}
#wrap .head .head-top .logo, #wrap .head .head-top .logo img{
    width: calc(var(--baserem)*40rem);
    height: calc(var(--baserem)*40rem);
    margin-left: calc(var(--baserem)*20rem);
}
#wrap .head .head-top .logo{
    margin-top: calc(var(--baserem)*5rem);
}
#wrap .head .head-top .btns{
    font-size: calc(var(--baserem)*14rem);
    padding-right: calc(var(--baserem)*10rem);
    display: flex;
}
#wrap .head .head-top .btns a{
    margin-left: calc(var(--baserem)*5rem);
    line-height: calc(var(--baserem)*50rem);
    color:#fff;
}
#wrap .head .head-top .btns a:hover{
    color: var(--hover)
}

#wrap .head .head-bottom{
    height:calc(var(--baserem)*50rem);
    padding: calc(var(--baserem)*5rem) calc(var(--baserem)*10rem) calc(var(--baserem)*15rem);
    display: flex;
}
#wrap .head .head-bottom .searchInp{
    flex:1;
    border: calc(var(--baserem)*1rem) solid #232323;
    padding-left: calc(var(--baserem)*10rem);
}
#wrap .head .head-bottom .search{
    width: calc(var(--baserem)*60rem);
    height: calc(var(--baserem)*30rem);
    background: #474737;
    line-height: calc(var(--baserem)*30rem);
    margin-left: calc(var(--baserem)*5rem);
    font-size: calc(var(--baserem)*14rem);
    text-align: center;
    color: #eee;
}
#wrap .content{
    position: absolute;
    top: calc(var(--baserem)*100rem);
    bottom:0;
    left:0;
    right: 0;
    background:#f0e4c9;
}

#wrap .content .nav{
    width: 100%;
    overflow: hidden;
    height: calc(var(--baserem)*50rem);
    padding-top: calc(var(--baserem)*10rem);
    padding-bottom: calc(var(--baserem)*10rem);
    border-bottom: calc(var(--baserem)*1rem) solid #eee;
}
#wrap .content .nav .list{
    font-size: calc(var(--baserem)*0rem);
    white-space: nowrap;
    /* float的目的是让ul被li撑开 */
    float: left; 
}
#wrap .content .nav .list li{
    height: calc(var(--baserem)*30rem);
    line-height: calc(var(--baserem)*30rem);
    padding: calc(var(--baserem)*0rem) calc(var(--baserem)*10rem);
    font-size: calc(var(--baserem)*14rem);
    display: inline-block;
}
#wrap .content .nav .list a{
    color: #333;
}
#wrap .content .nav .list li.active a,#wrap .content .nav .list a:hover{
    color:#2170d6;
}

#wrap .courseWrap{
    width: 100%;  
    height: calc(var(--baserem)*230rem); 
    overflow: hidden; 
}
#wrap .courseWrap .list{
    height: calc(var(--baserem)*230rem); 
    overflow: hidden;
}
#wrap .courseWrap .list a,.courseWrap .list a img{
    width: 100%;
    height: 100%;
    display: block;
}

#wrap .courseWrap .list a img{
    width: 100%;
}

#wrap .courseWrap .list li{
    float: left;
}
#wrap .tapWrap{
    display: flex;
    flex-direction: column;
    padding:calc(var(--baserem)*10rem) calc(var(--baserem)*10rem);
    background: #eee;
    overflow: hidden;
}
#wrap .tapWrap .tapHeader{
    display: flex;
    justify-content: space-between;
    line-height:  calc(var(--baserem)*30rem)
}
#wrap .tapWrap .tapHeader h2{
    font-size: calc(var(--baserem)*24rem);
    color:#333;
    font-weight: bold;
}
#wrap .tapWrap .tapHeader span{
    font-size: calc(var(--baserem)*14rem);
    color:#333;
}

#wrap .tapWrap .tapNav{
    margin-top: calc(var(--baserem)*10rem);
    height: calc(var(--baserem)*40rem);
    line-height: calc(var(--baserem)*40rem);
}
#wrap .tapWrap .tapNav div{
    display: flex;
}
#wrap .tapWrap .tapNav div a{
    display: block;
    width: calc(var(--baserem)*60rem);
    height: calc(var(--baserem)*40rem);
    text-align: center;
    color: #333;
    font-size: calc(var(--baserem)*14rem);
    text-align: center;
}
#wrap .tapWrap .tapNav .smallG{
    display: block;
    height: calc(var(--baserem)*2rem);
    background: #2170d6;
    position: absolute;
    transition: transform 1s, width 1s;
}

#wrap .tapWrap .tapContent{
    width: 300%;
    overflow: hidden;
}

#wrap .tapWrap .tapContent ul{
    width: 33.33333333333%;
    margin-top: calc(var(--baserem)*10rem);
    float: left;
    overflow: hidden;
}
#wrap .tapWrap .tapContent ul li{
    width: calc(var(--baserem)*177rem);
    padding: 0 calc(var(--baserem)*10rem);
    float: left;
}
#wrap .tapWrap .tapContent ul li a{
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: calc(var(--baserem)*14rem);
}
#wrap .tapWrap .tapContent ul li a img{
    width: 100%;
    height: calc(var(--baserem)*98rem);
    margin-bottom: calc(var(--baserem)*5rem);
}
#wrap .tapWrap .tapContent .tapDiscuss{
    display: flex;
}
#wrap .tapWrap .tapContent .tapDiscuss div{
    margin-right: calc(var(--baserem)*10rem);
    font-size:  calc(var(--baserem)*12rem);
    margin-bottom: calc(var(--baserem)*10rem);
    margin-top: calc(var(--baserem)*5rem);
}
#wrap .tapWrap .tapContent .tapLoading li{
    width: calc(var(--baserem)*50rem);
    height: calc(var(--baserem)*50rem);
    margin-left: calc(var(--baserem)*150rem);
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600247490103&di=81dcd5f75d18017ed014b06f21f0dc72&imgtype=0&src=http%3A%2F%2Fimg0.imgtn.bdimg.com%2Fit%2Fu%3D1401697185%2C2332337306%26fm%3D214%26gp%3D0.jpg) no-repeat;
    background-size: cover;
    opacity: 0;
}